body {
    padding-top: 50px;
}

.em-text {
    color: #1caa98 !important;
}

section {
    padding: 40px 0 40px 0;
}

.jumbotron {
    background: url(../img/site_jeep.png) no-repeat to center;
    height: 500px;
    overflow: none;
}

.slide-image {
    width: 100%;
    height: 300px;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

.jumbotron h1 {
    margin-top: 60px;
}

.jumbotron p {
    margin-bottom: 40px;
}

.jumbotron img.app-btn {
    width: 20%;
    margin-right: 10px;
}

.jumbotron img.move_img {
    width: 80%;
    height: 95%;
    padding: 1px;
    border: 1px solid #ccc;
}

img.power {
    margin-right: 10px;
    width: 100%;
    padding: 1px;
    border: 1px solid #ccc;
}

.lorem {
    color: #1caa98;
}

.ipsum {
    color: #FFFF00;
}

.betly {
    width: 80%;
    padding: 1px;
    border: 1px solid #ccc;
}

.powers {
    width: 100%;
    padding: 1px;
    border: 1px solid #ccc;
}

.list {
    color: ;
    list-style: none;
}

.products {
    color: #FFFF00;
}

section#feature {
    background: #1caa98;
    color: #fff;
    padding: 20px;
    overflow: auto;
}

section#feature img {
    width: 60%;
}

section#feature ul li {
    font-size: 22px line-height: 2.0em;
}

section#title-bar {
    padding: : 0;
    margin: 0;
    height: 120px;
    background: #1caa98;
    color: #fff;
}

section#title-bar h1 {
    margin-bottom: 20px;
}

footer {
    background: #333;
    color: 30px 0 20px 0;
}

footer li {
    float: left;
    padding: 0 10px 0 10px;
}

footer a {
    color: #fff;
}

footer p {
    float: right;
    color: #fff;
}

section#contact {
    padding: : 0;
    margin: 0;
    height: 120px;
    background: #1caa98;
    color: #fff;
}